/*
Estilos de mi pagina
*/
table{
	width: 100%;
}

tr{
	height: 50px;
}

#fila1 {
	background-color: darkblue;
	border-color: #FF3422;
	border-width: 3px; /*JAMAS escribir los pixeles asi:3 px, van siempre juntos*/
}
#fila2 {
	background-color: yellow;
	border-color: #FF3422;
	border-width: 3px;
}

header{
	background-color: silver;
	height: 60px;
}
nav{
	position: absolute;
	left: 0px;
	width: 200px;
	background-color: A07844;
}

section{
	/*posicion en static by default*/
	margin-left: 200px;
	background-color: #5E4485;
	min-height: 500px;
	max-height: 800px;
	background-color: 54A;

}

footer{
	position: fixed;
}

body{
	margin-bottom: 120px;
}
a{
	text-decoration: none;
}